/*
*.bak

!.gitignore

!.bashrc
!.profile
!.xinitrc
!.Xresources

!/.config
/.config/*
!/.config/bspwm
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim
!/.config/nvim/colorscheme.vim
!/.config/nvim/colors
!/.config/rofi
!/.config/sxhkd
!/.config/termite

!/.local
/.local/*
!/.local/usr
/.local/usr/*
!/.local/usr/bin

!/.local/share
/.local/share/*
!/.local/share/backgrounds
