*
!.gitignore

!.bashrc
!.profile
!.xinitrc
!.Xresources
!/.Xresources.d
!.xsettingsd

!/.config/bspwm
!/.config/nvim/init.vim
!/.config/nvim/colors
!/.config/rofi
!/.config/sxhkd
!/.config/termite
!/.config/polybar
!/.config/neomutt
!/.config/flavours

!/.bin

!/.local/share/backgrounds
