*.vt100.saveLines:	4096
*.vt100.selectToClipboard:	true
*.vt100.translations:	#override \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
*background:	#1d2021
*color0:	#1d2021
*color1:	#d72638
*color10:	#88b92d
*color11:	#f19d1a
*color12:	#1e8bac
*color13:	#be4264
*color14:	#1ba595
*color15:	#e5e5e5
*color16:	#eb8413
*color17:	#c85e0d
*color18:	#383c3e
*color19:	#53585b
*color2:	#88b92d
*color20:	#cdcdcd
*color21:	#dddddd
*color3:	#f19d1a
*color4:	#1e8bac
*color5:	#be4264
*color6:	#1ba595
*color7:	#d5d5d5
*color8:	#6f7579
*color9:	#d72638
*cursorColor:	#d5d5d5
*faceName:	Hack
*faceSize:	12
*foreground:	#d5d5d5
*scrollTtyOutput:	false
