configuration {
	modi: "window,drun,ssh,combi";
	font: "hack bold 11";
 	combi-modi: "window,drun,ssh";
	icon-theme: "Papirus";
	show-icons: true;
	terminal: "termite";
 }
@import "~/.config/rofi/themes/colors.rasi"
